<p>
  search works!
</p>
<div style="position: relative;">
<input type="text" (keyup)="showSuggestions($event)" [(ngModel)]="search" />
<div *ngIf="showSuggestionForm" 
  style="height: auto; left:0; background-color: red; color: black; position:absolute;">
  <li *ngFor="let x of arr" (click)="selectSuggestion(x.id)">{{ x.name }}</li>
</div>
</div>


<div style="background-color: yellow; height: 20px;">
  <li *ngFor="let x of d" [hidden]="!x.primary">
    {{ x.name }}
    <input type="checkbox" [checked]="x.primary" (click)="togglePrimary(x)" />
  </li>
</div>

<div style="background-color: green; height: 20px;">
  <li *ngFor="let x of d" [hidden]="x.primary">
    {{ x.name }} 
    <input type="checkbox" [checked]="x.primary" (click)="togglePrimary(x)" />
  </li>
</div>